body{
    margin :0px;
    width: 100%;

}

nav{
    background-color: rgb(64, 65, 65);
    max-height: 100px;
    min-height: 50px;
    width: 100%;
    height: 100%;
    display: flex;    /*   allow to move freely in nav container   */
    column-gap: 4px;
}


#head{
    display: flex;
    background-color: rgba(251, 219, 159, 0.786);

    justify-content: center;
    
}


#shopify-logo{
    height: 7em;
}


.nav-button{
    padding: 20px;
    border: 1px solid rgb(16, 16, 16);
    background-color: rgb(36, 36, 35);
    color:aliceblue; 
    text-decoration: none;      
}


main{
        background-color: rgba(251, 219, 159, 0.786);

}

#hero{
    background-color: rgb(242, 179, 62);      /*  hero gradient to make different form other section*/
    min-height: 20rem;

    display: flex;  /* flex to make content in same line*/
}

#hero-image{
    width: 45rem;
}

#hero-content{
        padding:10% 10%;
}



#values{
    min-height: 20rem;
    font-size: larger;
    font-weight: 500;
    justify-items: center;
    padding: 20px;
}

#product-highlight{
    min-height: 20rem;
    font-size: larger;
    font-weight: 500;
    justify-items: center; 
}


#container{
justify-content: center ;
display: flex;
column-gap: 40px;
padding: 30px;
}


.card{
    background-color: rgb(245, 237, 226);
    max-width: 400px;
    min-height: 300px;
    padding: 20px;
    border-radius: 20px;
    column-gap: 30px;     

}
footer{
    background-color: black;
    color: white;
    align-content: end;
}

/* Common button shape and color for entier shopify site */
button{    
    background-color:rgb(226, 89, 43);
    color: aliceblue;
    padding: 10px;
    border-color: rgba(249, 194, 93, 0.615);

}


@media only screen and (max-width:600px) {
#head{
    font-size: small;    
}

   #hero-image{
    width: 15rem;
    height:  20rem;
    }
    #hero-content{
        padding:5% 5%;
        font-size: small;
}
#product-highlight{
    min-height: 10rem;
    font-size: small;
    font-weight: 400;
    justify-items: center; 
    overflow-x: auto;
}


.card{
    background-color: rgb(245, 237, 226);
    min-width: 15em;
    max-width: 100em;
    min-height: 30em;
    padding: 10px;
    border-radius: 20px;
    column-gap: 1em ; 

}
#values{
    font-size: medium;
}
footer{
    font-size: small;
}

}
