*{
    margin :0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    flex: 1;
    background-image: linear-gradient(90deg, rgb(233, 221, 165),rgb(227, 233, 230));
}

nav{
    min-height: 80px;
    display: flex;       
    column-gap:10px;
    align-items: center;
    box-shadow: 10px 0px 30px;
    padding: 20px 0px;
}


#head{
    background-image: linear-gradient(90deg, rgba(246, 156, 10, 0.753),rgba(241, 134, 4, 0.595));
    padding: 20px 60px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 1px 10px; 

    position: relative;
    left: -7%;      /* aling the title in center */
    margin: 0 auto;
    
}


.nav-button{  
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    color:rgb(12, 12, 12); 
    text-decoration: none;      
}




#carousel{        /* outer layout of carousel cards */
    justify-self: center;
    margin-top: 40px;   
    width: 1200px;
    height: 500px; 
    overflow-x: auto;
    display: flex;


}


/*  card alignment */
#carousel-cards{
    margin: 10px 0px;
    display: flex;
    /* flex: 1; */
    gap: 1em;
    animation: slide 40s infinite linear;

    

}

#carousel::-webkit-scrollbar{
    display: none;
    /* visibility: hidden; */
}

.card{
    flex:0 0 4em; 
    /* width:400px; */
    height: 500px;
    padding: 5em 5em;
    margin:  20px 10px;
    font-size: 18px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
    /* background-color: rgba(249, 251, 253, 0.051); 
    border-left:5px ridge black ;*/
    box-shadow: 2px 3px 10px;
    border-radius: 30px;
    font-weight: bolder;


}

.card img{
    width: 400px;
    height: 400px;
    max-width: 300px;
}





@keyframes slide {

    from{
        translate: 0;
    }
    to {
        translate: -100%;
    }
    
}






