
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */


}

body{
    background: linear-gradient(90deg, rgb(250, 250, 224), rgb(246, 233, 212));
    display: grid;
    min-height: 100vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr  auto;
    gap: 1rem;
    grid-template-areas:
    "navbar navbar"
    "main main" 
    "footer footer";
    overflow-x: hidden;
    overflow-y: auto;

}


nav{
    grid-area: navbar;
    background: linear-gradient(90deg ,rgb(240, 200, 113), rgb(246, 164, 177));
    box-shadow: 12px 13px 50px rgb(85, 79, 66);
    padding: 0;
    position: sticky;   /* allow navbar to stick in top */
    top: 0;
    z-index: 10;
            
}
nav > ul {
    display: flex;
    padding: .5rem;
}
nav > ul >li{
    list-style: none;
    padding: 1rem 0rem;
    background-color: antiquewhite;
    margin: 0rem .4rem;
    border-radius: 12px;    
    position: relative;   

} 

nav > ul>li:last-child{
    left: 67%;
}

nav> ul > li > a{
    text-decoration-line: none;
    padding: 1rem 2rem;

    /* border-bottom: 3px ridge rgb(243, 86, 42); */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;

}

.sub{
    position: absolute;
    z-index: 1;
    background-color: white;
    top:3em;
    visibility: hidden;

}
.sub>li{
        
        border-bottom: 2px solid;
        padding: 1rem 3rem;
        list-style-type: none;
        font-size: 18px;
        font-weight: bolder;

        input{
            display: none;
        };
        
    }

nav > ul > li:hover{
    background-color: rgb(27, 29, 29);
    border-radius: 12px;
    
    a{
        color: white;

        border-bottom:none ;
    }
    transition: background-color 1s ease;
}

nav > ul>li:last-child:hover{
    background-color: red;
}

nav  #active{ 
    background-color: rgb(34, 34, 34);
    a{
        color: aliceblue;
    }
}

.has-sub:hover .sub {
    visibility: visible;
}

.sub >li:hover {
    background-color: blue;
    color: white;
}


.sub >li input:checked+label {
    color: rgb(218, 48, 48);
}

main{
    grid-area: main;
    margin: 3rem 2rem;
    /* height: 100vh; */
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;  
    gap:3rem;  
}



.content{
  width: 90%;
  padding :3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2rem;
  }
  background-color: rgba(254, 254, 254, 0.6);
  border-radius: 40px;

  h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 70%;
    font-size: 23px;
    padding: 3rem;
  }
}

#why-to-choose{
   display: flex;
    flex-direction: column;
    align-items: center;
}

#about{
    background-color: rgba(0, 255, 255, 0.397);
}

#cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 80%;
        height: 60%;
        background-color: rgba(105, 7, 216, 0.763);
        box-shadow: 2px 2px 14px;
        border-radius: 20px;
    }
    a{  position: relative;
        /* left: 24rem; */
        top :-3rem;
        width: fit-content;
        border-radius: 30px;
        font-size: 30px;
        text-decoration: none;
        padding: 2rem 4rem;
        background: linear-gradient(90deg, red, orange);
        
    }
}

#list{
    /* padding-left: 5rem ; */
    list-style: none;
    font-size: larger;
}
#list > li{
    padding: .5rem;
}

#about{
   display: flex;
    flex-direction: column;
    align-items: center;
}
 p{  

        width: 70%;
        font-weight: 500;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding: 1rem;
        /* padding-left: 5rem; */
        font-size: 20px;
    }
#journey{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    img{
        width: 90%;
        justify-content: center;
        align-items : center;
    }
}


#vision-mission{
    
    justify-content: center;
}
#vision{
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
}

#mission{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


footer{
    grid-area: footer;
    background-color: black;
    color: white;
    justify-items: center;
    padding: 2rem;    
}

